<section class="section" id="join">
	<div class="container signup">
		<div class="section-heading">
			<p class="section-tag">Join</p>
			<h2>Unete a la prueba de AgroSmart</h2>
			<p>
				Estamos validando AgroSmart, una plataforma para monitorear cultivos. Dejanos tus datos si
				quieres ser de los primeros en probarla.
			</p>
		</div>

		<div class="signup__form">
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfz4i5nebPdPlOCpRSZlH5RCEezw9U-8VefbGF4hmuslJsS8A/viewform?embedded=true" width="640" height="1025" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
		</div>
	</div>
</section>
